{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
    /**
     * Index method
     *
     * @return \Cake\Http\Response|null|void Renders view
     */
    public function index()
    {
        $this->request->allowMethod(['get']);

        $limit = $this->request->getQuery('limit');
        if ($limit === 'all') {
            ${{ pluralName }} = $this->{{ currentModelName }}->find('all')->toArray();
            return $this->response->withType('application/json')
                ->withStringBody(json_encode([
                    'info' => [
                        'limit' => 'all',
                        'offset' => 0,
                        'total' => sizeof(${{ pluralName }})
                    ],
                    'results' => ${{ pluralName }},
                ]))
                ->withStatus(200);
        } else {
            ${{ pluralName }} = $this->paginate($this->{{ currentModelName }});
            return $this->response->withType('application/json')
                ->withStringBody(json_encode([
                    'info' => [
                        'limit' => $this->Paginator->getPagingParams()['{{ currentModelName }}']['perPage'],
                        'offset' => $this->Paginator->getPagingParams()['{{ currentModelName }}']['start'] - 1,
                        'total' => $this->Paginator->getPagingParams()['{{ currentModelName }}']['count']
                    ],
                    'results' => ${{ pluralName }},
                ]))
                ->withStatus(200);
        }
    }
