{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
{% set annotations = DocBlock.buildTableAnnotations(associations, associationInfo, behaviors, entity, namespace) %}
<?php
declare(strict_types=1);

namespace {{ namespace }}\Model\Table;

{% set uses = ['use Cake\\ORM\\Query;', 'use Cake\\ORM\\RulesChecker;', 'use Cake\\ORM\\Table;', 'use Cake\\Validation\\Validator;'] %}
{{ uses|join('\n')|raw }}

{{ DocBlock.classDescription(name, 'Model', annotations)|raw }}
class {{ name }}Table extends Table
{
    /**
     * Initialize method
     *
     * @param array $config The configuration for the Table.
     */
    public function initialize(array $config): void
    {
        parent::initialize($config);

{% if table %}
        $this->setTable('{{ table }}');
{% endif %}

{%- if displayField %}
    $this->setDisplayField('{{ displayField }}');
{% endif %}

{%- if primaryKey %}
    {%- if primaryKey is iterable and primaryKey|length > 1 %}
        $this->setPrimaryKey([{{ Bake.stringifyList(primaryKey, {'indent': false})|raw }}]);
        {{- "\n" }}
    {%- else %}
        $this->setPrimaryKey('{{ primaryKey|as_array|first }}');
        {{- "\n" }}
    {%- endif %}
{% endif %}

{%- if behaviors %}

{% endif %}

{%- for behavior, behaviorData in behaviors %}
    $this->addBehavior('{{ behavior }}'{{ (behaviorData ? (", [" ~ Bake.stringifyList(behaviorData, {'indent': 3, 'quotes': false})|raw ~ ']') : '')|raw }});
{% endfor %}

{%- for type, assocs in associations %}
    {%- for assoc in assocs %}
        {%- if assoc.alias in ['Tenants'] %}
            $this->addBehavior('Tenant');
        {% endif -%}
    {%- endfor %}
{% endfor -%}

{% for field, rules in validation %}
    {% if field in ['sort_order'] %}
        $this->addBehavior('ADmad/Sequence.Sequence', [
        'sequenceField' => 'sort_order', // Field to use to store integer sequence. Default "position".
        'scope' => ['tenant_id'], // Array of field names to use for grouping records. Default [].
        'startAt' => 1, // Initial value for sequence. Default 1.
        ]);
    {% endif %}
{% endfor %}

{%- if associations.belongsTo or associations.hasMany or associations.belongsToMany %}

{% endif %}

{%- for type, assocs in associations %}
    {%- for assoc in assocs %}
        {%- set assocData = [] %}
        {%- for key, val in assoc %}
            {%- if key is not same as('alias') %}
                {%- set assocData = assocData|merge({(key): val}) %}
            {%- endif %}
        {%- endfor %}
        $this->{{ type }}('{{ assoc.alias }}', [{{ Bake.stringifyList(assocData, {'indent': 3})|raw }}]);
        {{- "\n" }}
    {%- endfor %}
{% endfor %}
}
{{- "\n" }}

{%- if validation %}

    /**
    * Default validation rules.
    *
    * @param \Cake\Validation\Validator $validator Validator instance.
    */
    public function validationDefault(Validator $validator): Validator
    {
    {% for field, rules in validation %}
        {% if field not in ['tenant_id', 'sort_order'] %}
            {% set validationMethods = Bake.getValidationMethods(field, rules) %}
            {% if validationMethods %}
                $validator
                {% for validationMethod in validationMethods %}
                    {% if loop.last %}
                        {% set validationMethod = validationMethod ~ ';' %}
                    {% endif %}
                    {{ validationMethod|raw }}
                {% endfor %}

            {% endif %}
        {% endif %}
    {% endfor %}
    return $validator;
    }
{% endif %}

{%- if rulesChecker %}

    /**
    * Returns a rules checker object that will be used for validating
    * application integrity.
    *
    * @param \Cake\ORM\RulesChecker $rules The rules object to be modified.
    */
    public function buildRules(RulesChecker $rules): RulesChecker
    {
    {% for field, rule in rulesChecker %}
        $rules->add($rules->{{ rule.name }}(['{{ field }}']{{ (rule.extra is defined and rule.extra ? (", '#{rule.extra}'") : '')|raw }}), ['errorField' => '{{ field }}']);
    {% endfor %}

    return $rules;
    }
{% endif %}
{% for field, rules in validation %}
    {% if field in ['sort_order'] %}

        // set default sorting if one isn't provided and sort_order exists
        public function beforeFind($event, Query $query, $options, $primary)
        {
        $order = $query->clause('order');
        if ($order === null || !(is_countable($order) ? count($order) : 0)) {
        $query->order([$this->getAlias() . '.sort_order' => 'ASC']);
        }
        }
    {% endif %}
{% endfor %}
{%- if connection is not same as('default') %}

    /**
    * Returns the database connection name to use by default.
    *
    * @return string
    */
    public static function defaultConnectionName(): string
    {
    return '{{ connection }}';
    }
{% endif %}
}
