@charset "utf-8";


.select2-container,
.select2-container li:only-child,
.select2-container input:placeholder-shown {
    width: 100% !important;
}

table.vcenter > tbody > tr > td,
table.vcenter > thead > tr > th {
    vertical-align: middle;
}

td.center,
th.center {
    text-align: center;
}

input[type="radio"], input[type="checkbox"] {
    display: inline-block;
    margin: 0;
}

table .header-fixed {
    position: fixed;
    top: 50px;
    z-index: 1020;
    /* 10 less than .navbar-fixed to prevent any overlap */
    border-bottom: 0px solid #d5d5d5;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, 0.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

