body {
    background-color: #eff0f3;
}

/** Login & Signup **/

.login-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.login-wrapper .box {
    margin: 0 auto;
    padding: 30px 0 30px;
    float: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    -ms-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    -o-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.login-wrapper .box .content-wrap {
    width: 82%;
    margin: 0 auto;
}

.login-wrapper .box h6 {
    text-transform: uppercase;
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 600;
}

.login-wrapper .box input {
    margin-bottom: 10px;
}

.login-wrapper .box .action {
    position: relative;
    top: 20px;
    padding: 15px 0px;
}

.login-wrapper .box .signup {
    padding: 15px 0px;
    margin-top: 15px;
}

.login-wrapper .already {
    margin: 0 auto;
    float: none;
    text-align: center;
    margin-top: 25px;
}

.login-wrapper .box .social {
    margin: 0 auto;
    width: 90%;
}

.login-wrapper .box .social a.face_login {
    background: #6887c4;
    background: -moz-linear-gradient(top, #6887c4 0%, #4566a9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6887c4), color-stop(100%, #4566a9));
    background: -webkit-linear-gradient(top, #6887c4 0%, #4566a9 100%);
    background: -o-linear-gradient(top, #6887c4 0%, #4566a9 100%);
    background: -ms-linear-gradient(top, #6887c4 0%, #4566a9 100%);
    background: linear-gradient(to bottom, #6887c4 0%, #4566a9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6887c4', endColorstr='#4566a9', GradientType=0);
    border: 1px solid #3B4868;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    height: 37px;
    overflow: hidden;
    width: 99%;

    text-decoration: none !important;
}

.login-wrapper .box .social a.face_login:hover {
    background: #6887c4;
    background: -moz-linear-gradient(top, #6887c4 0%, #5773AC 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6887c4), color-stop(100%, #5773AC));
    background: -webkit-linear-gradient(top, #6887c4 0%, #5773AC 100%);
    background: -o-linear-gradient(top, #6887c4 0%, #5773AC 100%);
    background: -ms-linear-gradient(top, #6887c4 0%, #5773AC 100%);
    background: linear-gradient(to bottom, #6887c4 0%, #5773AC 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6887c4', endColorstr='#5773AC', GradientType=0);
}

.login-wrapper .box .social a.face_login span.face_icon {
    background-color: #39599F;
    border-radius: 3px 0 0 3px;
    float: left;
    height: 37px;
    text-align: center;
    width: 51px;
}

.login-wrapper .box .social a.face_login span.face_icon img {
    margin-top: 5px;
}

.login-wrapper .box .social a.face_login span.text {
    color: #FFFFFF;
    float: left;
    font-size: 15px;
    font-weight: bold;
    margin: 6px 0 0 25px;
    text-shadow: 1px 1px 0 #39599F;
}

.login-wrapper .box .division {
    display: inline-block;
    margin: 17px 0 23px;
    position: relative;
    text-align: center;
    width: 100%;
}

.login-wrapper .box .division hr {
    border-color: #E2E2E4;
    border-width: 1px;
    margin: 0;
    position: absolute;
    width: 40%;
}

.login-wrapper .box .division hr.left {
    top: 13px;
}

.login-wrapper .box .division hr.right {
    bottom: 6px;
    right: 0;
}

.login-wrapper .box .division span {
    color: #666666;
    font-size: 18px;
}

.panel-heading > .panel-title, .content-box-header .panel-title {
    float: left;
    padding: 10px 15px;
    padding-top: 0px;
}

.panel-heading > .panel-title > *, .content-box-header .panel-title > * {
    margin: 0;
}

.panel-heading > .panel-title > span, .content-box-header .panel-title > span {
    font-weight: normal;
}

.panel-heading > .panel-options, .content-box-header .panel-options {
    float: right;
    padding-right: 15px;
}

.panel-heading > .panel-options > a, .content-box-header .panel-options > a {
    margin-top: 10px;
}

.panel-body {
    clear: both;
}

.error-message {
    height: auto !important;
}

div.error input {
    background-color: rgba(255, 223, 224, .25);
}

/* Responsive CSS */

/* Mobile phones */
@media (max-width: 480px) {

}

/* Tablets */
@media (max-width: 767px) {

}

/* Desktop */

@media (max-width: 991px) {

}