{#
/**
 * Test Case bake template
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
{% set isController = type|lower == 'controller' %}
{% set isShell = type|lower == 'shell' %}
{% set isCommand = type|lower == 'command' %}
{% if isController %}
    {%- set traitName = 'IntegrationTestTrait' %}
{% elseif isShell or isCommand %}
    {%- set traitName = 'ConsoleIntegrationTestTrait' %}
{% endif %}
{%- set uses = uses|merge(["Cake\\TestSuite\\TestCase"]) %}
{% if traitName is defined %}
    {%- set uses = uses|merge(["Cake\\TestSuite\\#{traitName}"]) %}
{% endif %}

{%- set uses = uses|sort %}
<?php
declare(strict_types=1);

namespace {{ baseNamespace }}\Test\TestCase\{{ subNamespace }};

{% for dependency in uses %}
use {{ dependency }};
{% endfor %}
use App\Test\TestCase\Controller\BaseJpmControllerTest;
use Cake\ORM\Table;
use Cake\ORM\TableRegistry;

/**
 * {{ fullClassName }} Test Case
{% if isController or isCommand %}
 *
 * @uses \{{ fullClassName }}
{% endif %}
 */
class {{ className }}Test extends BaseJpmControllerTest
{
{% if traitName is defined %}
    use {{ traitName }};
{% endif %}

    protected Table ${{ className|camelize|replace({'Controller': ""})}}Table;

    /**
     * setUp method
     *
     * @return void
     */
    public function setUp(): void
    {
        parent::setUp();
        $this->enableRetainFlashMessages();
        $this->{{ className|camelize|replace({'Controller': ""})}}Table = TableRegistry::getTableLocator()->get('{{ className|replace({'Controller': ""})}}');
        $this->loadRoutes();
    }

{%- for method in methods %}
{% if method in ['index', 'add', 'view', 'edit', 'delete'] %}

    /**
     * Test method: {{ method }}
     */
{% if method in ['index', 'add'] %}
    public function test{{ method|camelize }}AsSuperAdmin(): void
    {
        $this->setSuperAdminAuth();
        $this->get('/{{ className|replace({'Controller': ""})}}/{{ method|humanize|lower }}');
        $this->assertResponseOk();
    }
{% endif %}

{% if method in ['index', 'add'] %}
    public function test{{ method|camelize }}AsAdmin(): void
    {
        $this->setAdminAuth();
        $this->get('/{{ className|replace({'Controller': ""})}}/{{ method|humanize|lower }}');
        $this->assertResponseOk();
    }
{% endif %}

{% if method in ['index', 'add'] %}
    public function test{{ method|camelize }}AsUser(): void
    {
        $this->setUserAuth();
        $this->get('/{{ className|replace({'Controller': ""})}}/{{ method|humanize|lower }}');
        $this->assertResponseOk();
    }
{% endif %}

    public function test{{ method|camelize }}AsPublicUser(): void
    {
{% if method in ['index', 'add'] %}
        $this->get('/{{ className|replace({'Controller': ""})}}/{{ method|humanize|lower }}');
        $this->assertLoginRedirect('/{{ className|replace({'Controller': ""})}}/{{ method|humanize|lower }}');
{% elseif method in ['view','edit'] %}
        $this->get('/{{ className|replace({'Controller': ""})}}/{{ method|humanize|lower }}/1');
        $this->assertLoginRedirect('/{{ className|replace({'Controller': ""})}}/{{ method|humanize|lower }}/1');
{% elseif method in ['delete'] %}
        $this->enableCsrfToken();
        $this->post('/{{ className|replace({'Controller': ""})}}/{{ method|humanize|lower }}/1');
        $this->assertLoginRedirect();
{% endif %}
    }
{% endif %}
{% endfor %}

    private function createTestRecord()
    {
        $record = $this->{{ className|camelize|replace({'Controller': ""})}}Table->newEntity([]);
        $result = $this->{{ className|camelize|replace({'Controller': ""})}}Table->save($record);
        return $result['id'];
    }

    private function deleteTestRecord($id)
    {
        $entity = $this->{{ className|camelize|replace({'Controller': ""})}}Table->get($id);
        return $this->{{ className|camelize|replace({'Controller': ""})}}Table->delete($entity);
    }
}
