{#
/**
 * Controller bake template file
 *
 * Allows templating of Controllers generated from bake.
 *
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
declare(strict_types=1);

namespace {{ namespace }}\Controller{{ prefix }};

{% if plugin or prefix %}
use {{ baseNamespace }}\Controller\AppController;

{% endif %}
/**
 * {{ name }} Controller
 *
{% if defaultModel %}
 * @property \{{ defaultModel }} ${{ name }}
{% endif %}

{%- for component in components %}
{% set classInfo = Bake.classInfo(component, 'Controller/Component', 'Component') %}
 * @property {{ classInfo.fqn }} ${{ classInfo.name }}
{% endfor %}

{%- if 'index' in actions %}
 * @method \{{ namespace }}\Model\Entity\{{ entityClassName }}[]|\Cake\Datasource\ResultSetInterface paginate($object = null, array $settings = [])
{% endif %}
 */
class {{ name }}Controller extends AppController
{
{% if components or helpers or prefix|lower ends with 'api' %}
    /**
     * Initialize controller
     *
     * @return void
     */
    public function initialize(): void
    {
        parent::initialize();

{% for component in components %}
        $this->loadComponent('{{ component }}');
{% endfor %}
{% if prefix and prefix|lower ends with 'api' %}
        $this->loadComponent('Paginator');
{% endif %}
{% if helpers %}
        $this->viewBuilder()->setHelpers([{{ Bake.stringifyList(helpers, {'indent': false})|raw }}]);
{% endif %}
    }
{% if actions|length %}{{ "\n" }}{% endif %}
{% endif %}
{# no prefix (index, view only) #}
{% if not prefix %}
{%- for action in actions %}
{% if action in ['index', 'view'] %}{{ "\n" }}
    {{- element('Bake.Controller/' ~ action) -}}
{% endif %}
{% endfor %}
{% endif %}
{# admin prefix (all actions) #}
{% if prefix and prefix|lower ends with 'admin' %}
{%- for action in actions %}
{% if action in ['index', 'view', 'add', 'edit', 'delete'] %}{{ "\n" }}
        {{- element('Bake.Controller/' ~ action) -}}
{% endif %}
{% endfor %}
{% endif %}
{# api prefix (all actions with json returns) #}
{% if prefix and prefix|lower ends with 'api' %}
{%- for action in actions %}
{% if loop.index > 1 %}{{ "\n" }}{% endif %}
    {{- element('Bake.Controller/api/' ~ action) -}}
{% endfor %}
{% endif %}
}