{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
{% set fields = Bake.filterFields(fields, schema, modelObject) %}
<div class="{{ pluralVar }} form">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1><?= __('{{ action|humanize }} {{ singularHumanName }}') ?></h1>
            </div>
        </div>
        <!-- end col lg 12 -->
    </div>
    <!-- end row -->
    <div class="row">
        <div class="col-md-3">
            <div class="actions">
                <div class="card">
                    <div class="card-header">Actions</div>
                    <div class="card-body">
                        <ul class="nav nav-pills flex-column">
                            {% set done = [] %}
                            {% for type, data in associations %}
                                {% for alias, details in data %}
                                    {% if details.navLink and details.controller is not same as(_view.name) and details.controller not in done %}
                                        {% if details.controller not in ['Tenants'] %}
                                            <li>
                                                <?= $this->Html->link(__('<span class="octicon octicon-plus"></span>&nbsp;&nbsp;New {{ alias|singularize|underscore|humanize }}
                                                ')
                                                ,['controller' => '{{ details.controller }}', 'action' => 'add']
                                                ,['escape' => false, 'class' => 'nav-link']
                                                )
                                                ?>
                                            </li>
                                        {% endif %}
                                        {% set done = done|merge([details.controller]) %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <li>
                                <?= $this->Html->link(__('<span class="octicon octicon-list-unordered"></span>&nbsp;&nbsp;List {{ pluralHumanName }}
                                ')
                                ,['action' => 'index']
                                ,['escape' => false, 'class' => 'nav-link'])
                                ?>
                            </li>
                        </ul>
                    </div>
                    <!-- end body -->
                </div>
                <!-- end panel -->
            </div>
            <!-- end actions -->
        </div>
        <!-- end col md 3 -->
        <div class="col-md-9">
            <?= $this->Form->create(${{ singularVar }}) ?>
            {% for field in fields %}
                {% if field not in primaryKey %}
                    {%- if keyFields[field] %}
                        {%- set fieldData = Bake.columnData(field, schema) %}

                        {%- if field in ['tenant_id'] %}
                            <?php
                echo $this->Form->control('{{ field }}', ['type' => 'hidden']);
                            ?>
                        {%- else %}
                            {%- if fieldData.null %}
                                <div class="form-group">
                                    <?php
                    echo $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}, 'empty' => true,
                                    'class' => 'custom-select']);
                                    ?>
                                </div>
                                {{- "\n" }}
                            {%- else %}
                                <div class="form-group">
                                    <?php
                    echo $this->Form->control('{{ field }}', ['options' => ${{ keyFields[field] }}, 'class' =>
                                    'form-control', 'placeholder' => '', 'empty' => true]);
                                    ?>
                                </div>
                                {{- "\n" }}
                            {%- endif %}
                        {%- endif %}
                    {%- elseif field not in ['created', 'modified', 'updated'] %}
                        {%- set fieldData = Bake.columnData(field, schema) %}
                        {%- if fieldData.type in ['date', 'datetime', 'time'] and fieldData.null %}
                            <div class="form-group">
                                <?php
                echo $this->Form->control('{{ field }}', ['empty' => true, 'class' => 'form-control', 'placeholder' =>
                                '']);
                                ?>
                            </div>
                            {{- "\n" }}
                        {%- elseif fieldData.type in ['boolean'] %}
                            <div class="form-check">
                                <?php
                echo $this->Form->control('{{ field }}', ['class' => 'form-check-input']);
                                ?>
                            </div>
                            {{- "\n" }}
                        {%- else %}
                            <div class="form-group">
                                {% if 'eid' not in field %}
                                    <?php
                echo $this->Form->control('{{ field }}', ['class' => 'form-control', 'placeholder' => '']);
                                    ?>
                                {% else %}
                                    <?php
                echo $this->Form->control('{{ field }}', ['class' => 'form-control', 'placeholder' => '',
                                    'disabled' => true, 'label' => '{{ field|humanize|replace({'Eid': '(External ID)'}) }}']);
                                    ?>
                                    <small class="form-text text-muted">This field is disabled because it is only used
                                        for data from external systems.</small>
                                {% endif %}
                            </div>
                            {{- "\n" }}
                        {%- endif %}
                    {%- endif %}
                {%- endif %}
            {%- endfor %}

            {%- if associations.BelongsToMany %}
                {%- for assocName, assocData in associations.BelongsToMany %}
                    <div class="form-group">
                        <?php
                    echo $this->Form->control('{{ assocData.property }}._ids', ['options' => ${{ assocData.variable }},
                        'class' => 'form-control', 'placeholder' => '']);
                        ?>
                    </div>
                    {{- "\n" }}
                {%- endfor %}
            {% endif %}

            <?= $this->Form->button(__('Submit'), ['class' => 'btn btn-primary']) ?>
            <?php echo $this->Html->link(
            'Cancel',
            ['controller' => '{{ pluralVar }}', 'action' => 'index', '_full' => true],
            ['class' => 'btn btn-secondary', 'id' => 'cancel']
            ); ?>
            <?= $this->Form->end() ?>
        </div>
        <!-- end col md 9 -->
    </div>
    <!-- end row -->
</div>
<!-- end containing of content -->