{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
/**
 * @var \{{ namespace }}\View\AppView $this
 * @var \{{ entityClass }}[]|\Cake\Collection\CollectionInterface ${{ pluralVar }}
 */
?>
{% set fields = Bake.filterFields(fields, schema, modelObject, indexColumns, ['binary', 'text']) %}
<div class="{{ pluralVar }} index">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1><?= __('{{ pluralHumanName }}') ?></h1>
            </div>
        </div>
        <!-- end col md 12 -->
    </div>
    <!-- end row -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <ul class="navbar-nav mr-auto">
            <li>
                <?= $this->Html->link(__('<span
                        class="octicon octicon-plus"></span>&nbsp;&nbsp;New {{ singularHumanName }}')
                ,['action' => 'add']
                ,['escape' => false, 'class' => 'nav-link'])
                ?>
            </li>
            {% set done = [] %}
            {% for type, data in associations %}
                {% for alias, details in data %}
                    {% if details.navLink and details.controller is not same as(_view.name) and details.controller not in done %}
                        {% if details.controller not in ['Tenants'] %}
                            <li>
                                <?= $this->Html->link(__('<span
                                        class="octicon octicon-plus"></span>&nbsp;&nbsp;New {{ alias|singularize|underscore|humanize }}
                                ')
                                ,['controller' => '{{ details.controller }}', 'action' => 'add']
                                ,['escape' => false, 'class' => 'nav-link']
                                )
                                ?>
                            </li>
                        {% endif %}
                        {% set done = done|merge([details.controller]) %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
        <?php /* TODO add a search filter one day
        <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
        */ ?>
    </nav>
    <!-- end nav -->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    {% for field in fields %}
                        {% if field not in ['id', 'modified', 'created', 'tenant_id', 'description']
                            and 'eid' not in field
                            and 'hash' not in field
                            and 'json' not in field
                            and 'key' not in field
                        %}
                            <th scope="col">
                                <?= $this->Paginator->sort('{{ field }}') ?>
                            </th>
                        {% endif %}
                    {% endfor %}
                    <th scope="col" class="actions"><?= __('Actions') ?></th>
                </tr>
                </thead>
                <tbody>
                <?php foreach (${{ pluralVar }} as ${{ singularVar }}): ?>
                <tr>
                    {% for field in fields %}
                        {% set isKey = false %}
                        {% if associations.BelongsTo %}
                            {% for alias, details in associations.BelongsTo %}
                                {% if field is same as (details.foreignKey) %}
                                    {% set isKey = true %}
                                    {% if field not in ['id', 'modified', 'created', 'tenant_id', 'description']
                                        and 'eid' not in field
                                        and 'hash' not in field
                                        and 'json' not in field
                                        and 'key' not in field
                                    %}
                                        <td>
                                            <?= ${{ singularVar }}->has('{{ details.property }}') ?
                                            $this->Html->link(${{ singularVar }}->{{ details.property }}
                                            ->{{ details.displayField }}, ['controller' => '{{ details.controller }}
                                            ',
                                            'action' => 'view', ${{ singularVar }}->{{ details.property }}
                                            ->{{ details.primaryKey[0] }}]) : '' ?>
                                        </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if isKey is not same as(true) and field not in ['id', 'modified', 'created', 'description']
                            and 'eid' not in field
                            and 'hash' not in field
                            and 'json' not in field
                            and 'key' not in field
                        %}
                            {% set columnData = Bake.columnData(field, schema) %}
                            {% if columnData.type in ['boolean'] %}
                                <td>
                                    <?= $this->Enable->display_text(${{ singularVar }}->{{ field }}) ?>
                                </td>
                            {% elseif columnData.type not in ['integer', 'float', 'decimal', 'biginteger', 'smallinteger', 'tinyinteger'] %}
                                <td>
                                    <?= h(${{ singularVar }}->{{ field }}) ?>
                                </td>
                            {% else %}
                                <td>
                                    <?= $this->Number->format(${{ singularVar }}->{{ field }}) ?>
                                </td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% set pk = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}
                    {% set externalField = '' %}
                    {% for field in fields %}
                        {% if 'eid' in field %}
                            {% set externalField = field %}
                        {% endif %}
                    {% endfor %}
                    <td class="actions">
                        <?=
                            $this->Html->link(__('<span class="octicon octicon-search"></span>')
                        ,['action' => 'view', {{ pk|raw }}]
                        ,['escape' => false]
                        )
                        ?>
                        <?=
                            $this->Html->link(__('<span class="octicon octicon-pencil"></span>')
                        ,['action' => 'edit', {{ pk|raw }}]
                        ,['escape' => false]
                        )
                        ?>
                        {% if externalField != '' %}
                            <?php // External ID exists and when populated, hide delete icon ?>
                            <?php if(!${{ singularVar }}->{{ externalField }}) : ?>
                        {% endif %}
                        <?=
                            $this->Form->postLink(__('<span class="octicon octicon-trashcan"></span>')
                        ,['action' => 'delete', {{ pk|raw }}]
                        ,['escape' => false, 'confirm' => __('Are you sure you want to delete # {0}?', {{ pk|raw }})]
                        )
                        ?>
                        {% if externalField != '' %}
                            <?php endif ?>
                        {% endif %}
                    </td>
                </tr>
                <?php endforeach; ?>
                </tbody>
            </table>

            <?php
            // Pagination element
            $params = $this->Paginator->params();
            if ($params['pageCount'] > 1) {
            ?>
            <?php echo $this->element('paging'); ?>
            <?php } ?>

        </div>
        <!-- end col md 12 -->
    </div>
    <!-- end row -->
</div>
<!-- end containing of content -->
