{#
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         2.0.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
#}
<?php
/**
 * @var \{{ namespace }}\View\AppView $this
 * @var \{{ entityClass }} ${{ singularVar }}
 */
?>
{% set associations = {'BelongsTo': [], 'HasOne': [], 'HasMany': [], 'BelongsToMany': []}|merge(associations) %}
{% set fieldsData = Bake.getViewFieldsData(fields, schema, associations) %}
{% set associationFields = fieldsData.associationFields %}
{% set groupedFields = fieldsData.groupedFields %}
{% set pK = '$' ~ singularVar ~ '->' ~ primaryKey[0] %}
<div class="{{ pluralVar }} view">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1><?= h(${{ singularVar }}->{{ displayField }}) ?></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="actions">
                <div class="card">
                    <div class="card-header">Actions</div>
                    <div class="card-body">
                        <ul class="nav nav-pills flex-column">
                            <li>
                                <?=
                                $this->Html->link(__('<span class="octicon octicon-pencil"></span>
                                Edit {{ singularHumanName }}')
                                ,['action' => 'edit', {{ pK|raw }}]
                                ,['escape' => false, 'class' => 'nav-link']
                                )
                                ?>
                            </li>
                            <li>
                                <?=
                                $this->Html->link(__('<span class="octicon octicon-list-unordered"></span>
                                List {{ pluralHumanName }}')
                                ,['action' => 'index']
                                ,['escape' => false, 'class' => 'nav-link']
                                )
                                ?>
                            </li>
                            <li>
                                <?=
                                $this->Html->link(__('<span class="octicon octicon-plus"></span>
                                New {{ singularHumanName }}')
                                ,['action' => 'add']
                                ,['escape' => false, 'class' => 'nav-link']
                                )
                                ?>
                            </li>
                        </ul>
                    </div>
                    <!-- end body -->
                </div>
                <!-- end panel -->
            </div>
            <!-- end actions -->
        </div>
        <!-- end col md 3 -->
        <div class="col-md-9">
            <table class="table table-striped table-sm">
                {% if singularVar not in ['tenant_id'] %}

                    {% if groupedFields['string'] %}
                        {% for field in groupedFields['string'] %}
                            {% if associationFields[field] %}
                                {% set details = associationFields[field] %}
                                {% if field not in ['tenant_id'] %}
                                    <tr>
                                        <th scope="row"><?= __('{{ details.property|humanize }}') ?></th>
                                        <td><?= ${{ singularVar }}->has('{{ details.property }}') ?
                                            $this->Html->link(${{ singularVar }}->{{ details.property }}
                                            ->{{ details.displayField }}, ['controller' => '{{ details.controller }}',
                                            'action' => 'view', ${{ singularVar }}->{{ details.property }}
                                            ->{{ details.primaryKey[0] }}]) : '' ?>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% else %}
                                {% if field not in ['id'] %}
                                    <tr>
                                        {% if 'eid' not in field %}
                                            <th scope="row"><?= __('{{ field|humanize }}') ?></th>
                                        {% else %}
                                            <th scope="row">
                                                <?= __('{{ field|humanize|replace({'Eid': '(External ID)'}) }}') ?></th>
                                        {% endif %}
                                        <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if associations.HasOne %}
                        {% for alias, details in associations.HasOne %}
                            <tr>
                                <th scope="row"><?= __('{{ alias|underscore|singularize|humanize }}') ?></th>
                                <td><?= ${{ singularVar }}->has('{{ details.property }}') ?
                                    $this->Html->link(${{ singularVar }}->{{ details.property }}
                                    ->{{ details.displayField }}, ['controller' => '{{ details.controller }}', 'action'
                                    => 'view', ${{ singularVar }}->{{ details.property }}->{{ details.primaryKey[0] }}])
                                    : '' ?>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% if groupedFields.number %}
                        {% for field in groupedFields.number %}
                            {% if field not in ['id'] %}
                                <tr>
                                    <th scope="row"><?= __('{{ field|humanize }}') ?></th>
                                    <td><?= $this->Number->format(${{ singularVar }}->{{ field }}) ?></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if groupedFields.date %}
                        {% for field in groupedFields.date %}
                            <tr>
                                <th scope="row"><?= __('{{ field|humanize }}') ?></th>
                                <td><?= h(${{ singularVar }}->{{ field }}) ?></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    {% if groupedFields.boolean %}
                        {% for field in groupedFields.boolean %}
                            <tr>
                                <th scope="row"><?= __('{{ field|humanize }}') ?></th>
                                <td><?= $this->Enable->display_text(${{ singularVar }}->{{ field }}); ?></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </table>

        </div>
        <!-- end col md 9 -->
    </div>
    <!-- end row -->
</div>

{% set relations = associations.BelongsToMany|merge(associations.HasMany) %}
    {% for alias, details in relations %}
        {% set otherSingularVar = alias|variable %}
        {% set otherPluralHumanName = details.controller|underscore|humanize %}
        <!-- start related {{ otherPluralHumanName }} -->
        <div class="{{ otherPluralHumanName }} related row">
            <div class="col-lg-12">
                <h3><?= __('Related {{ otherPluralHumanName }}') ?></h3>
                <?php if (!empty(${{ singularVar }}->{{ details.property }})): ?>
                <table class="table table-striped table-sm">
                    <tr>
                        {% for field in details.fields %}
                            {% if field not in ['id', 'modified', 'created', 'tenant_id', 'description'] and 'id' not in field %}
                                <th scope="col"><?= __('{{ field|humanize }}') ?></th>
                            {% endif %}
                        {% endfor %}
                        <th scope="col" class="actions"><?= __('Actions') ?></th>
                    </tr>
                    <?php foreach (${{ singularVar }}->{{ details.property }} as ${{ otherSingularVar }}): ?>
                    <tr>
                        {% for field in details.fields %}
                            {% if field not in ['id', 'modified', 'created', 'tenant_id', 'description'] and 'id' not in field %}
                                <td><?= h(${{ otherSingularVar }}->{{ field }}) ?></td>
                            {% endif %}
                        {% endfor %}
                        {% set otherPk = '$' ~ otherSingularVar ~ '->' ~ details.primaryKey[0] %}
                        {% set externalField = '' %}
                        {% for field in details.fields %}
                            {% if 'eid' in field %}
                                {% set externalField = field %}
                            {% endif %}
                        {% endfor %}
                        <td class="actions">
                            <?=
                            $this->Html->link(__('<span class="octicon octicon-search"></span>')
                            ,['controller' => '{{ details.controller }}', 'action' => 'view', {{ otherPk|raw }}]
                            ,['escape' => false]
                            )
                            ?>
                            <?=
                            $this->Html->link(__('<span class="octicon octicon-pencil"></span>')
                            ,['controller' => '{{ details.controller }}', 'action' => 'edit', {{ otherPk|raw }}]
                            ,['escape' => false]
                            )
                            ?>
                            {% if externalField != '' %}
                                <?php // External ID exists and when populated, hide delete icon ?>
                                <?php if(!${{ otherSingularVar }}->{{ externalField }}) : ?>
                            {% endif %}
                            <?=
                            $this->Form->postLink(__('<span class="octicon octicon-trashcan"></span>')
                            ,['controller' => '{{ details.controller }}', 'action' => 'delete', {{ otherPk|raw }}]
                            ,['escape' => false, 'confirm' => __('Are you sure you want to delete #
                            {0}?', {{ otherPk|raw }})]
                            )
                            ?>
                            {% if externalField != '' %}
                                <?php endif ?>
                            {% endif %}
                        </td>
                    </tr>
                    <?php endforeach; ?>
                </table>
                <?php else : ?>
                <div class="alert alert-primary" role="alert">
                    No {{ otherPluralHumanName }} to display!
                </div>
                <?php endif; ?>
            </div>
            <!-- end col lg 12 -->
        </div>
        <!-- end related {{ otherPluralHumanName }} -->
    {% endfor %}